name: advent_of_code
description: A sample command-line application with basic argument parsing.
version: 0.0.1
# repository: https://github.com/my_org/my_repo

environment:
  sdk: ^3.7.0

# Add regular dependencies here.
dependencies:
  args: ^2.5.0
  http: ^1.4.0
  process_run: ^1.2.4

dev_dependencies:
  lints: ^5.0.0
  test: ^1.24.0
